.container-fluid {
	   padding-right: 0px !important;
       padding-left: 0px !important;
       margin-right: 0px !important;
       overflow: hidden;
       margin-left: 0px !important;
}

#livesite_active_engage .ls-ae-link-T {
    color: #fff !important;
}

#livesite_engage_button a.ls-engage-button {
	min-width: 240px !important;
	border-radius: 0px !important;
	border: 2px solid #fff;
	border-bottom: 0px !important;
}

#livesite_engage_button .ls-action-T, #livesite_action_buttons .ls-action-T, #livesite_engage_button .ls-action-T, #livesite_engage_button .ls-action-T:before, #livesite_action_buttons .ls-action-T:before {
    color: #f7d939 !important;
}